<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrashReporterdotNet" version="1.5" targetFramework="net461" />
  <package id="GrapevinePlus" version="3.0.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net461" />
</packages>